upstream test {
{% for upstr in upstreams -%}
  server {{ upstreams[upstr].server }}
{% endfor %}   
}
server {{ ansible_default_ipv4.address }} {
listen 80;
listen [::]:80;
server_name {{ item }};
root /var/www/{{ item }};
index index.html;
try_files $uri /index.html;
}
